 ________  ________  _____ ______   _______      
|\   __  \|\   ____\|\   _ \  _   \|\  ___ \     
\ \  \|\  \ \  \___|\ \  \\\__\ \  \ \   __/|    
 \ \   __  \ \  \    \ \  \\|__| \  \ \  \_|/__  
  \ \  \ \  \ \  \____\ \  \    \ \  \ \  \_|\ \ 
   \ \__\ \__\ \_______\ \__\    \ \__\ \_______\
    \|__|\|__|\|_______|\|__|     \|__|\|_______|
                                                 
    {{ site }} | {{ inventory_hostname }} | {{ ansible_host }}
-----------------------------------------------------------------
          All connections to this device are logged
    Unauthorized use of this system is strictly prohibited
 Violators will be prosecuted to the fullest extent of the law
    Contact {{ system_administrator }} if anything is wrong
-----------------------------------------------------------------
